
.header-layout {

    display: grid;
    justify-content: center;
    color: #FFF;
    padding-top: 30px;
    font-family: Inter;

}

.title {

    font-size: 40px;
    line-height: normal;
    text-align: center;

}

.title .AI {

    background: linear-gradient(180deg, #C85555 6.25%, #A2A52C 94.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header-text {

    font-size: 24px;
    font-weight: 400;
    text-align: center;

}