.header-layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  margin: 70px 48px 42px 48px;
  font-family: Inter;
}

.header-title {
  font-size: 4rem;
  line-height: normal;
  margin-bottom: 0;
}

.header-title .AI {
  background: linear-gradient(180deg, #c85555 6.25%, #a2a52c 94.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .header-layout {
    width: 90%;
  }
  .header-text {
    width: 60%;
  }
}

@media (min-width: 740px) {
  .header-layout {
    max-width: 650px;
    margin: 70px auto;
    align-items: center;
  }

  .header-title {
    font-size: 6.4rem;
  }

  .header-text {
    font-size: 2.4rem;
    text-align: center;
  }
}
